body {
  font-family: "Times New Roman", Times, serif;
}

#result {
  display: none;
}

.center {
  bottom: 50%;
  position: absolute;
  right: 50%;
  transform: translate(50%, 50%);
}

input {
  display: inline;
  margin-bottom: 5px;
}

header {
  letter-spacing: 2px;
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
}

footer>a:link, footer>a:visited, footer>a:hover, footer>a:active {
  color: #000000;
  text-decoration: none;
}

header:hover {
  cursor: pointer;
}
